.caixa-login{
    display: flex;
    position: absolute;
    flex-direction: column;

}
#user{
    margin: 10px;
    
    

    
  
}
#user  ::-moz-focus-inner{
    border: 2px solid black;
    box-shadow: 2px;
}
#password{
    margin: 10px;
    border: 2px solid black;
}